apiVersion: v1
kind: ConfigMap
metadata:
  name: observer-collector-config
data:
  collector.yaml: |
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http:
            endpoint: 0.0.0.0:4318
    
    processors:
      deltatocumulative: {}
    
    exporters:
      debug: {}
      prometheus:
        endpoint: 0.0.0.0:8899
        metric_expiration: 180m
        resource_to_telemetry_conversion:
          enabled: true
      otlphttp/prom:
        endpoint: http://prometheus-operated.mdai.svc.cluster.local:9090/api/v1/otlp
        tls:
          insecure: true
    
    connectors:
      attributeextractor:
        add_attributes:
          - key: foobar
            value: barbaz
        exclude_attributes:
            - "fluent.tag"
    
    extensions:
      cgroupruntime:
        gomaxprocs:
          enabled: true
        gomemlimit:
          enabled: true
    
    service:
      telemetry:
        metrics:
          readers:
            - pull:
                exporter:
                  prometheus:
                    host: '0.0.0.0'
                    port: 8888
      pipelines:
        logs:
          receivers: [otlp]
          processors: []
          exporters: [attributeextractor]
        metrics:
          receivers: [otlp]
          processors: []
          exporters: [attributeextractor]
        traces:
          receivers: [otlp]
          processors: []
          exporters: [attributeextractor]
        metrics/attrextractprom:
          receivers: [attributeextractor]
          processors: []
          exporters: [otlphttp/prom]
        metrics/attrextract:
          receivers: [attributeextractor]
          processors: []
          exporters: [prometheus,debug]